<!DOCTYPE html>
<html lang="en">

<%- include('./src/template/head.ejs',{title:'Index'})%>

<body>
  <%- include('./src/template/header.ejs') %>
  <%- include('./src/template/footer.ejs') %>
</body>

</html>