<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('./src/template/header.ejs',{title:'子首頁header標題'}) %>
  <%- include('./src/template/footer.ejs') %>
</body>

</html>